.body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #4981C8; }

ul {
  list-style: none; }

header {
  background-color: #EDEBEB;
  font-weight: bold;
  margin-bottom: 10px; }
  header ul {
    display: inline-block; }
    header ul li {
      display: inline-block; }
  header img {
    vertical-align: text-bottom; }

nav ul {
  display: inline-block; }
  nav ul a {
    padding: 2px; }
  nav ul li {
    display: inline-block; }
    nav ul li input {
      width: 150px; }

nav ul:nth-child(1) {
  padding-left: 5px; }

#top-left, #bottom-left {
  padding-left: 0; }

#top-right, #bottom-right {
  float: right; }

.container {
  width: 1000px;
  margin: 0 auto; }

.main {
  border-bottom: 1px solid #EDEBEB; }

aside {
  width: 230px;
  display: inline-block; }
  aside img {
    width: 100%; }

section {
  width: 730px;
  display: inline-block;
  vertical-align: top; }
  section a {
    padding: 10px; }
  section span {
    margin-right: 5px; }

aside ul {
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #EDEBEB;
  border-bottom: 1px solid #EDEBEB;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  aside ul span {
    padding-right: 4px; }

.stats {
  width: 32%;
  text-align: center; }

#follow {
  padding: 10px 0;
  border-bottom: 1px solid #EDEBEB; }

footer {
  padding-top: 20px;
  font-size: 14px; }
  footer ul {
    display: inline-block; }
    footer ul li {
      display: inline-block; }
  footer span {
    margin: 0 9%; }

input {
  width: 250px;
  min-height: 30px;
  border-radius: 2px;
  font-size: 16px; }

.repositories nav {
  border-bottom: 1px solid #EDEBEB; }

article ul {
  list-style: none;
  padding-left: 5px; }

article li {
  border-bottom: 1px solid #EDEBEB;
  padding-bottom: 10px; }
  article li a {
    padding-left: 0; }

.repo-right {
  float: right;
  vertical-align: top; }
  .repo-right li {
    display: inline-block; }

.list-left {
  display: inline-block;
  width: 60%; }

.list-right {
  display: inline-block;
  width: 30%;
  float: right; }
  .list-right li {
    border: none; }

.activities {
  display: none; }

/*.activity-list{

  &>li{
    display:inline-block;
    vertical-align: top;

  }

}

.push-list{
  border-bottom: 1px solid $gitBack;
}
*/
.push-list-right {
  vertical-align: top;
  display: inline-block;
  width: 650px; }
  .push-list-right ul {
    vertical-align: top;
    margin-top: 0; }

.push-list-left {
  display: inline-block;
  width: 50px; }

.activity-list {
  border-bottom: 1px solid #EDEBEB; }
  .activity-list a {
    padding-left: 0;
    padding-right: 0; }
  .activity-list img {
    height: 30px;
    border-radius: 2px;
    vertical-align: text-top; }
