.body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #4981C8; }

header {
  background-color: #EDEBEB;
  font-weight: bold;
  margin-bottom: 10px; }
  header ul {
    display: inline-block; }
    header ul li {
      display: inline-block; }

#top-left, #bottom-left {
  padding-left: 0; }

#top-right, #bottom-right {
  float: right; }

.container {
  width: 80%;
  margin: 0 auto; }

.main {
  border-bottom: 1px solid #EDEBEB; }

aside {
  width: 250px;
  display: inline-block; }

section {
  width: 750px;
  display: inline-block; }

aside ul {
  list-style: none;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #EDEBEB;
  border-bottom: 1px solid #EDEBEB;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  aside ul span {
    padding-right: 4px; }

.stats {
  width: 32%;
  text-align: center; }

#follow {
  padding: 10px 0;
  border-bottom: 1px solid #EDEBEB; }

footer {
  padding-top: 20px;
  font-size: 14px; }
  footer ul {
    display: inline-block; }
    footer ul li {
      display: inline-block; }
  footer span {
    margin: 0 9%; }
