$gitBack: #EDEBEB;
$linkBlue: #4981C8;

.body{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color:$linkBlue;
}
header{
  background-color: $gitBack;
  font-weight: bold;
  margin-bottom: 10px;
  ul{
    display:inline-block;
    li{
      display:inline-block;
    }
  }
  img{
    vertical-align: text-bottom;
  }
}

nav ul{
  display:inline-block;
  list-style: none;
  a{
    padding:2px;
  }
  li{
    display:inline-block;
    input{
      width: 150px;
    }
  }
}

nav ul:nth-child(1){
  padding-left: 5px;
}
#top-left, #bottom-left{
  padding-left: 0;
}
#top-right, #bottom-right{
  float: right;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.main{
  border-bottom: 1px solid $gitBack;
}
aside {
  width:230px;
  display: inline-block;
  img{
    width: 100%;
  }
}

section {
  width: 730px;
  display: inline-block;
  vertical-align: top;
  a{
    padding: 10px;
  }
  span{
    margin-right: 5px;
  }
}

aside ul {
  list-style: none;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid $gitBack;
  border-bottom: 1px solid $gitBack;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  span{
    padding-right: 4px;
  }
}

.stats {
  width: 32%;
  text-align: center;
}

#follow {
  padding: 10px 0;
  border-bottom: 1px solid $gitBack;
}


footer {
  padding-top:20px;
  font-size:14px;
  ul{
    display:inline-block;
    li{
      display:inline-block;
    }
  }
  span{
    margin: 0 9%;
  }
}

input {
  width: 250px;
  min-height: 30px;
  border-radius: 2px;
  font-size: 16px;
}

.repositories nav{
  border-bottom: 1px solid $gitBack;
}

article {
  ul{
    list-style: none;
    padding-left: 5px;
  }
  li{
  border-bottom: 1px solid $gitBack;
  padding-bottom: 10px;
  a{
    padding-left: 0;
  }
}
}
.repo-right{
  float:right;
  vertical-align: top;
  li{
    display: inline-block;
  }
}
.list-left{
  display: inline-block;
  width: 60%;
}
.list-right{
  display:inline-block;
  width: 30%;
  float: right;
  li{
    border: none;
  }
}


.activities{
  display: none;
}
