$gitBack: #EBEBEB;
$linkBlue: #4981C8;
$gitBorder: #CCC8C8;

body{
  margin-top: 0;
  margin-left: 0;
  font-family: Helvetica, arial, sans-serif;
}

a {
  text-decoration: none;
  color:$linkBlue;
  &:hover{
    text-decoration: underline;
  }
}

ul{
  list-style: none;
}

header{
  background-color: $gitBack;
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 12px;
  ul{
    display:inline-block;
    li{
      display:inline-block;
      margin: 0 7px;
    }
  }
  img{
    height: 20px;
    vertical-align: text-bottom;
    border-radius: 3px;
  }
}

.octicon-triangle-down{
  font-size: 10px;
  margin-left: 3px;
  vertical-align: text-top;
}

.octicon-plus, .octicon-bell{
  vertical-align: text-bottom;
}

nav ul{
  display:inline-block;
  a{
    padding:2px;
  }
  li{
    display:inline-block;

    input{
      width: 250px;
      min-height: 28px;
    }
  }
}

#create{
  height: 32px;
  background-color: $gitBack;
  border: 1px solid $gitBorder;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
  &:hover{
    background-color: #DEDEDE;
  }
}

#new-repo{
  height: 32px;
  background-image: linear-gradient(#92DA79, #5F944D);
  border: 1px solid #568C44;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  &:hover{
    background-image: linear-gradient(#8ED276, #588847);
  }

}
#repo-links{
  //padding-left: 10px;
  padding-top:0;
  float: right;
  font-size: 14px;
}
nav ul:nth-child(1){
  padding-left: 5px;
}
#top-left, #bottom-left{
  padding-left: 0;
  span{
    font-size:26px;
  }
}
#top-right, #bottom-right{
  float: right;
}
#top-left {
  margin-top: 7px;
  margin-bottom: 7px;
  a{
    color: black;
    &:hover{
      color: $linkBlue;
      text-decoration: none;
    }
  }
}
#top-right {
  margin-top: 8px;
  margin-bottom: 7px;
  a{
    color: black;
    &:hover{
      color: $linkBlue;
      text-decoration: none;
    }
  }
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.main{
  border-bottom: 1px solid $gitBack;
}
aside {
  width:230px;
  display: inline-block;
  img{
    width: 100%;
    border-radius: 10px;
  }
}

section {
  width: 730px;
  display: inline-block;
  vertical-align: top;
  a{
    padding: 10px;
  }
  span{
    margin-right: 5px;
  }
}

aside ul {
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 1px;
  border-top: 1px solid $gitBack;
  border-bottom: 1px solid $gitBack;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  span{
    margin-right: 8px;
    color: gray;
  }
  li{
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    margin-top:5px;
    margin-bottom: 5px;

  }
}

.stats {
  width: 32%;
  text-align: center;
}

#follow {
  padding: 10px 0;
  border-bottom: 1px solid $gitBack;
}


footer {
  padding-top:20px;
  font-size:12px;
  color: gray;
  ul{
    display:inline-block;
    li{
      display:inline-block;
      margin: 0 3px;
    }
  }
  span{
    margin: 0 11%;
    color: $gitBack;
    &:hover{
      color: gray;
    }
  }
  .octicon{
    font-size: 26px;
  }
}
form{

}
input {
  width: 350px;
  min-height: 25px;
  //border-radius: 2px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid $gitBorder;
  padding-left: 5px;
}

.repositories nav{

}

article {
  ul{
    list-style: none;
    padding-left: 5px;
  }
  li{
  border-top: 1px solid $gitBack;
  padding-bottom: 20px;
  padding-top: 20px;
  a{
    padding-left: 0;
  }
}
}
.repo-right{
  float:right;
  vertical-align: top;
  li{
    display: inline-block;
  }
  li:nth-child(2), li:nth-child(3){
    &:hover{
      color: $linkBlue;
    }
  }
}
.list-left{
  display: inline-block;
  width: 60%;
  line-height: 24px;
  a{
    font-weight: bold;
    font-size: 20px;
  }
}
.list-right{
  display:inline-block;
  width: 30%;
  float: right;
  font-size:12px;
  font-weight: bold;
  color: #828181;
  li{
    border: none;
    margin-left:5px;
    margin-right:5px;
    padding-top: 0;

  }
}

.repo-description{
  font-size: 14px;
  color: #4B4B4B;

}
.repo-updated{
  font-size: 12px;
  color: #A9A8A8;
}

.activities{
  display: none;
}

.push-list-right{
  vertical-align: top;
  display: inline-block;
  width: 650px;
  ul{
    vertical-align: top;
    margin-top:0;
    margin-bottom: 0;
    padding-left: 0;

    li:nth-child(1){
      font-size: 12px;
      color: $gitBorder;
    }
    li:nth-child(2){
      font-size: 14px;
      a{
        font-weight: bold;
      }
    }
    li:nth-child(3){
      font-size: 13px;
      font-weight: normal;
      color: #CCC8C8;
      .octicon{
        color: white;
        background-color: $gitBorder;
        border-radius: 2px;
        padding: 2px;
        font-size: 12px;
        margin-left: 5px;
        margin-right: 5px;


      }
    }
  }

}

.push-list-left{
  display: inline-block;
  width: 50px;
}

.activity-list{
  border-bottom: 1px solid $gitBack;
  padding-top:15px;
  padding-bottom: 15px;
  a{
    padding-left: 0;
    padding-right:0;
  }
  img{
    height:30px;
    border-radius:2px;
    vertical-align: text-top;
  }
  .octicon-git-branch, .octicon-repo, .octicon-git-commit{
    color: $gitBorder;
  }

  .octicon-git-branch, .octicon-repo{
    margin-left: 8px;
  }
}

.create-text{
  font-size: 13px;
  color: #807E7E;
}
.create-date{
  color: $gitBorder;
}
.branch-master{
  background-color: #D3E6EF;
  padding: 2px 4px;
  border-radius: 2px;
}

#follow {
  section{
    text-align: center;
    color: gray;
      a{
        padding: 0;
        color: gray;
        &:hover{
          color: $linkBlue;
          text-decoration: none;
        }
    }
    strong{
      color: $linkBlue;
      font-size: 30px;
    }
    span{
      margin-right: 0;
    }
}
}

aside{
  margin-right: 20px;
  h1{
    font-size: 30px;
    margin-top: 3px;
    margin-bottom: 5px;
  }
  &> span{
    color: gray;
    font-size: 20px;
    font-weight: lighter;
  }
  h2{
    font-size: 16px;
  }
}

#pages {
  border-bottom: 1px solid $gitBack;
  padding-bottom: 15px;
  a{
    font-size: 16px;
    &:hover{
      text-decoration: none;
    }
  }
}
.repoNav{
  color: black;
  padding-bottom: 15px;
}

.picked{
  border-bottom: 1px solid white;
  border-left: 1px solid $gitBack;
  border-top: 1px solid $gitBack;
  border-right: 1px solid $gitBack;
  border-radius: 2px 2px 1px 1px;
}

.contribNav, .activityNav{
  color: gray;
  padding-bottom: 15px;
}

#edit-profile{
    float: right;
    font-size: 16px;
    font-weight: bold;
    background-color: $gitBack;
    border: 1px solid $gitBorder;
    border-radius: 2px;
    &:hover{
      background-color: #DEDEDE;
    }
  }

#org img{
  width: 50px;
}

.rss {
  float: right;
  color: white;
  background-color: #FF7C0C;
  padding: 2px 5px;
  border-radius: 3px;
}
